/* header*/

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  z-index: 3;
  background-color: #FFFFFF;
}

.logo {
  color: #66cdaa;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.logo #title {
  padding: 0 10px;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-wrap: wrap;
}

.menu .category {
  display: inline-block;
  padding: 0 20px;
}

.menu a {
  color: #000000;
}

/* end the header*/

/* container*/

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 100px;
  bottom: 300px;
  flex-wrap: wrap;
}

/* first column */

.column.large {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  justify-content: space-between;
}

  div.mother {
    background-image: url("../images/img-story-main.png");
  }

  div.spin {
    background-image: url("../images/img-story-2.png");
    display: inline-block;
    flex-basis: 299px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  div.cameras {
    background-image: url("../images/img-story-3.png");
    display: inline-block;
    flex-basis: 299px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  div.orca,
  div.burger {
    display: inline-block;
    flex-basis: 301px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  /* end of first column */

  /* second column */

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

  div.cats {
    background-image: url("../images/img-story-1.png");
    margin-top: 10px;
  }

  /* end of second column */

  /* third column */

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

  h2.news {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .news_bites {
    display: flex;
    flex-direction: column;
  }

  .bites {
    display: inline-block;
    margin: 0 0;
    padding: 15px 15px;
    background-color: #F5F5F5;
    font-family: Verdana;
    font-size: 12px;
    color: #696969;
    border-bottom: 1px solid #000000;
  }

  /* end of third column */

div.image {
  display: flex;
  min-height: 300px;
  flex-direction: column;
  align-content: flex-start;
}

p.story {
  font-family: Georgia;
  font-size: 17px;
  color: #000000;
}

p.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

p#main {
  font-size: 40px;
  text-align: left;
}

/* end the container*/

/* footer*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #66CDAA;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  position: relative;
  bottom: -100px;
  height: 200px;
}

.link {
  margin: 0 10px;
}

p.link {
  display: inline-block;
  padding: 10px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

div.nav {
  display: inline-block;
}

.link a {
  color: #000000;
}

/* end of the footer*/
