/* style of the header*/

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  z-index: 2;
  background-color: #FFFFFF;
}

.logo {
  color: #66cdaa;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.logo #title {
  padding: 0 10px;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-wrap: wrap;
}

.menu .category {
  display: inline-block;
  padding: 0 20px;
}

.menu a {
  color: #000000;
}

/* end of the style of the header*/

/* style of the container*/

.container div {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  position: relative;
  top: 100px;
  flex-wrap: wrap;
}

.column.large {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  justify-content: space-between;
}

  div.mother {
    background-image: url("../images/img-story-main.png");
  }

  div.spin {
    background-image: url("../images/img-story-2.png");
    display: inline-block;
    flex-basis: 299px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  div.cameras {
    background-image: url("../images/img-story-3.png");
    display: inline-block;
    flex-basis: 299px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  div.orca,
  div.burger {
    display: inline-block;
    flex-basis: 301px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

  div.cats {
    background-image: url("../images/img-story-1.png");
    margin-top: 10px;
  }

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

div.image {
  display: flex;
  min-height: 300px;
  flex-direction: column;
  align-content: flex-start;
}

p.story {
  font-family: Georgia;
  font-size: 17px;
  color: #000000;
}

p.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
  border: 1px solid black;
  margin: 0;
  text-align: center;
}

p#main {
  font-size: 40px;
  text-align: left;
}









/* end of the style of the container*/
